* {
  font-family: "Roboto", sans-serif; }

header {
  position: relative;
  height: 50px; }

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none; }
  .menu .menu_link {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none; }
  .menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 25px; }

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6); }
  .subheader .subheader_logo {
    display: block;
    margin-top: 16px;
    margin-left: 150px;
    max-width: 100%; }
  .subheader .subheader_official {
    margin-top: 6px;
    margin-left: 150px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.5; }
  .subheader .subheader_call {
    margin-top: 22px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
    text-align: right; }
  .subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #FFFFFF;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    line-height: 12px;
    font-weight: 400;
    text-decoration: none; }
  .subheader .subheader_btn {
    width: 172px;
    margin-top: 19px;
    height: 46px;
    border: none;
    border-radius: 4px;
    background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    text-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.21);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    color: white; }

.promo {
  min-height: 800px;
  background: url("../img/uber_bg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0; }
  .promo .promo_header {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0;
    text-align: center; }
  .promo .promo_subheader {
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0;
    text-align: center; }
  .promo .promo_descr {
    margin-top: 15px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center; }
  .promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 211px;
    height: 63px;
    border: none;
    border-radius: 4px;
    background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    text-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.21);
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    color: white; }

.reason {
  padding: 71px 0 65px 0; }

.label {
  color: #FFFFFF;
  margin: 0 auto;
  width: 113px;
  height: 24px;
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px 12px;
  background-color: #000000;
  text-align: center; }

.title {
  margin-bottom: 0;
  margin-top: 38px;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  color: #222222;
  text-align: center; }

.subtitle {
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center; }

.reason .reason_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px; }
  .reason .reason_block .reason_round {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
    width: 116px;
    height: 116px;
    background-color: #1eacc7;
    border-radius: 100%; }
  .reason .reason_block .reason_descr {
    width: 370px; }
    .reason .reason_block .reason_descr .reason_subtitle {
      line-height: 21px;
      color: #1eacc7;
      font-size: 17px;
      font-weight: 400; }
    .reason .reason_block .reason_descr .reason_text {
      color: #202020;
      font-size: 15px;
      font-weight: 300;
      line-height: 21px; }

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0; }

/*# sourceMappingURL=style.css.map */